:root {
    /* COLORS */
    --lightBlue: #6da8bc;
    --default: #fff;
    --black: #000;
    --gray: #808080;
    --lightGreen: #03bf03;
    --green: #008000;
    --lightGray: #cbc8c8;
    --lightRed: #fb6c6c;
    --blue: #0101c7;
    --orange: #ffa500;
    --red: #ff0000;


    /* VARIABLES */
    --MaxCol: 8;
    --widtExecutant: 100px;
    --btnRadius: 6px;
    --buttonSliderPaddingTop: 5px;
    --buttonSliderPaddingBottom: 5px;
    --buttonSliderPaddingLeft: 20px;
    --buttonSliderPaddingRight: 20px;
    --defaultWidth: 100%;
    --backlogWidth: 450px;
    --defaultHeight: 600px;
    --backlogColor: #beb1b1;
    --searchWidthMagnifierImg: 20px;
    --searchHeightMagnifierImg: 20px;


}